*.class

# Netbeans config files
built-jar.properties
project.properties

# Package Files #
*.jar
*.war
*.ear

# MacOS temp files
.DS_Store

# Python bytecode
*.pyc

#idea project files
*.iml
.idea/
out/
quest.properties
quest.xml

#other stuff
jie_*
output/
lang_resources/

#eric files
*.e4p
__init__.py
.ropeproject/
.eric4project/
