*.class

# Netbeans config files
built-jar.properties
project.properties

# Package Files #
*.jar
*.war
*.ear

# MacOS temp files
.DS_Store
.DS_Store?

# Python bytecode
*.pyc

#idea project files
*.iml
.idea/
out/
quest.properties
quest.xml

#other stuff
jie_*
.eric4project/
.ropeproject/
__init__.py
*.e4p
log.txt

#do not store local path
config/config_en-es.properties

lang_resources/
build/
output/
terms.txt
